/*版芯*/
.container {
	width: 1060px;
	margin: 0 auto;
}
/*header S*/
.header_inner {
	min-height: 67px;
}
.header_inner .logo {
	margin-top: 18px;
	margin-left: 4px;
	float: left;
}
.header_inner .logo h1 {
	background: url(../images/logo.png) no-repeat;
}
.header_inner .logo h1 a {
	display: block;
	width: 165px;
	height: 33px;
	text-indent: -9999px;
}
.header_inner .h_name {
	float: left;
	color: #333;
    font-size: 20px;
    height: 18px;
    line-height: 18px;
    margin-top: 27px;
}
/*header E*/
/*warn S*/
.warn {
	height: 40px;
	line-height: 40px;
	background: #fffbe4;
	font-size: 12px;
	color: #989898;
	text-align: center;
}
/*warn E*/
/*main S*/
.main {
	background: #081638;
}
.main_inner {
	min-height: 590px;
	margin-bottom: 24px;
	background: #081638;
	background-image: url(../images/banner.png);
}
.login_right {
	width: 520px;
	float: right;
	background: #fff;
	margin-bottom: 30px;
	margin-top: 30px;
	position: relative;
	margin-right: -65px;
	border: 2px solid #ccc;
}
.login_right .l_title {
	width: 100%;
	margin: 24px auto;
	text-align: center;
}
.login_right .l_title span {
	display: inline-block;
	width: 169px;
	font-size: 20px;
	color: #333;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.actived {
	color: #B40707!important;
}
.reg dl{
	position: relative;
	font-size: 14px;
	color: #666;
}
.reg dl dd{
	height: 30px;
	padding: 5px 0;
}
.reg dl dd input.text,.reg dl dd select{
	width:200px;
	height:25px;
	background:#fff;
	border: 1px solid #ccc;
	font-size:14px;
	color: #666;
}
.reg dl dd select{
	width: 202px;
}
.reg dl dd.birthday select{
	width: 70px;
}
/*用户名*/
.reg dl dd span.info,.reg dl dd span.error,.reg dl dd span.succ{
	display: block;
	font-size: 12px;
	color: #333;
	width: 167px;
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 33px;
	position: absolute;
	display: none;
}
.reg dl dd span.info{
	background: url(../images/reg_info.png) no-repeat;
}
.reg dl dd span.error{
	background: url(../images/reg_error.png) no-repeat;
}
.reg dl dd span.succ{
	background: url(../images/reg_succ.png) no-repeat 3px center;
	padding: 0 0 0 20px;
	color: green;
}
.reg dl dd span.info_user{
	height: 43px;
	line-height: 18px;
	background: url(../images/reg_info2.png) no-repeat;
	padding-top: 7px;
	top: 0px;
	left: 316px;
}
.reg dl dd span.error_user{
	top: 3px;
	left: 316px;
}
.reg dl dd span.succ_user{
	top: 0px;
	left: 316px;
}
/*密码框*/
.reg dl dd span.info_pass p{
	height: 25px;
	line-height: 25px;
	color: #666;
	margin-left: -10px;
}
.reg dl dd span.info_pass p strong.s{
	color: #ccc;
}
.reg dl dd span.info_pass{
	width: 225px;
	height: 104px;
	padding-top: 2px;
	background: #fff url(../images/reg_info3.png) no-repeat;
	top: 3px;
	left: 316px;
}
.reg dl dd span.error_pass{
	top: 43px;
	left: 316px;
}
.reg dl dd span.succ_pass{
	top: 43px;
	left: 316px;
}
/*电子邮箱*/
.reg dl dd span.info_email{
	top: 84px;
	left: 316px;
}
.reg dl dd span.error_email{
	top: 84px;
	left: 316px;
}
.reg dl dd span.succ_email{
	top: 84px;
	left: 316px;
}
.reg dl dd ul.all_email{
	width: 180px;
	height: 180px;
	padding: 5px 10px;
	background: #fff;
	position: absolute;
	top: 111px;
	left: 110px;
	border: 1px solid #ccc;
	font-size: 12px;
	display: none;
}
.reg dl dd ul.all_email li{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #e5edf2;
	padding: 0 5px;
	cursor: pointer;
}
/*提交按钮*/
.l_bottom .sub {
	width: 328px;
	height: 46px;
	border: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 20px;
	background: #b40707;
	color: #fff;
	line-height: 46px;
	cursor: pointer;
	margin-bottom: 18px;
	margin-top: 33px;
	margin-left: 100px;
}

.l_bottom .line {
	position: relative;
	margin-bottom: 10px;
}
.l_bottom .line .l_left {
	position: absolute;
	left: 0;
	top: 50%;
	width: 94px;
	height: 1px;
	background-image: url(../images/thirdLine.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.l_bottom .line .tips {
	z-index: 1;
	color: #ccc;
    vertical-align: middle;
    text-align: center;
    display: block;
    position: relative;
    padding: 0 10px;
    line-height: 1.5;
}
.l_bottom .line .l_right {
	position: absolute;
	right: 0;
	top: 50%;
	width: 94px;
	height: 1px;
	background-image: url(../images/thirdLine-reverse.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.l_bottom .other {
	margin-bottom: 10px;
	text-align: center;
}
.l_bottom .other a {
	display: inline-block;
	margin: 0 11px;
}
.l_bottom .other a i {
	font-size: 40px;
	color: #ccc;
}
/*main E*/
/*footer S*/
.footer_inner {
	min-height: 86px;
}
.footer_inner p {
	text-align: center;
	height: 20px;
	line-height: 26px;
	font-size: 12px;
	color: #999;
	margin-bottom: 5px;
}
.footer_inner p a:hover {
	text-decoration: underline;
}
.footer_inner p em {
	display: inline-block;
	margin: 0 15px;
}
/*footer E*/